<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-gb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<title>PROMPT | CROWN DIAMOND WELLNESS CENTER</title>
<{include file='frontend/default/lib/meta.html'}>
<link rel="stylesheet" type="text/css" href="<{$APP_PATH}>/i/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="<{$common.cssfolder}>/general.css">
<link rel="stylesheet" type="text/css" href="<{$common.cssfolder}>/iconfont/iconfont.css">
<!-- jQuery -->
<script type="text/javascript" src="<{$APP_PATH}>/i/js/jquery.js"></script>
<script type="text/javascript" src="<{$APP_PATH}>/i/js/bootstrap.min.js"></script>
<script type="text/javascript">
var countdown = <{$rs.time}>;
$(function(){
  $('#countdown').text(countdown);
  window.setInterval(redirect, 1000); 
})  

function redirect(){
  if(countdown <= 0) {window.clearInterval();return;}
  countdown --;
  $('#countdown').text(countdown);
  if (countdown == 0){
    window.location.href = '<{$rs.redirect nofilter}>';
  }
}
</script>
<style type="text/css">
div.prompt_outer{margin:50 auto;height:auto;text-align:center;}
div.banner {width:100%;margin:0 auto;text-align:center;}
div.banner .logo{display:block;width:200px;height:90px;margin:0 auto;font-size:0;background:url('<{$APP_PATH}>/i/images/logo.png') no-repeat center 0;}
</style>
</head>
<body id="default" class="default">
<div class="prompt_outer">
  <div class="banner">
    <div class="logo">CROWN DIAMOND</div>
    <h2 style="margin-top:10px;">WELLNESS CENTER</h2>
    <p style="margin-top:8px;">CROWN DIAMOND</p>
  </div>
  <div>
    <h1 style="color:#000;">SYSTEM PROMPT</h1>
    <h3 class="<{$rs.type}>"><font style="color:#f00;"><{if is_array($rs.text)}><{foreach $rs.text as $v}><{$v}><br />
        <{/foreach}><{else}><{$rs.text}><{/if}></font>
    </h3>
    <br />
    <p class="c999 mt15">System will jump to specified page after <span id="countdown"><{$rs.time}> seconds</span> </p>
    <p class="mt15"><a href="<{$rs.redirect nofilter}>">Click here if no redirect</a></p>
  </div>
</div>
</body>
</html>